<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <header>
        <h1 class="logo">Exercises</h1>
        
        <% if @current_user %>
          <form class="delete" action="/logout" method="post">
            <input type="submit" value="Logga ut">
          </form>
        <% else %>
          <form class="button-group" action="/login" method="get">
            <input type="submit" value="Logga in">
          </form>
          <form class="button-group" action="/users/new" method="get">
            <input type="submit" value="Sign up"> 
          </form>
        <% end %>

    </header>
    <hr>
  <nav>
    <ul>
      <li><a href="/exercises">All exercises</a></li>
      <li><a href="/users/index">Alla användare</a></li>
      <li><a href="/programs">Programs</a></li>
      <% if is_admin? %>
        <li><a href="/exercises/new">Ny övning</a></li>
        <li><a href="/programs/new">Nytt program</a></li>
      <% end %>
    </ul>

  </nav>
  <hr> <%= yield%>
</body>
</html>