<h2> Ny övning </h2>

<form action="/exercises" method="post">
    <label>Övning <input type="text" name="exercise_name"></label>
    <label>Primär muskel <input type="text" name="primary_muscle"></label>
    <label>Sekundär muskel <input type="text" name="secondary_muscle"></label>
    <label>Beskrivning <input type="text" name="exercise_description"></label>
    <label>Bild <input type="text" name="exercise_img"></label>
    <label>todo <input type="submit" value="Spara">


</form>