<h2>Skapa nytt konto</h2>

<form action="/users" method="post">
    <label>Användarnamn:
        <input type="text" name="username" required>
    </label>
    <br>
    <label>Lösenord:
        <input type="password" name="password" required>
    </label>
    <br>
    <input type="submit" value="Registrera dig">
</form>